
@{
    Layout = null;
    // 'https://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs' sitesindeki css ile yapılmış chackbox örneği kullanıldı
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/checkboxAnimation.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @*.row>.col-md-12>h2>{Animated Radios & Checkboxes With NoJs}*@
        <div class="row">
            <div class="col-md-12">
                <h2>Animated Radios & Checkboxes With NoJs</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Ödenme Durumu:</label>
                        <div class="checkbox col-md-10">
                            <label>
                                @*@Html.CheckBox("odendiMi", false)*@
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Ödendi mi?
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Alındı mı:</label>
                        <div class="checkbox col-md-10">
                            @*@Html.CheckBox("odendiMi", false)*@
                            <input type="checkbox" value="">
                            <span>Alındı mi?</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-2 control-label">Kargo durumu:</label>
                        <div class="checkbox col-md-10">
                            @*@Html.CheckBox("odendiMi", false)*@
                            <input type="checkbox" value="">
                            <span>Gönderildi mi?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
