@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="class1 class2 class3">
    <ul>
        <li class="red">item 001</li>
        <li class="red">item 002</li>
        <li class="red">item 003</li>
        <li class="red">item 004</li>
        <li class="red">item 005</li>
        <li class="red">item 006</li>
        <li class="red">item 007</li>
        <li class="red">item 008</li>
        <li class="red">item 009</li>
        <li class="red">item 010</li>
    </ul>
</div>
